

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: url(../images/main-background.jpg);
    background-size: contain;
    height: 100vh;
}

/* new navbar design start here */
/* .navbar-area1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.toggle{
    display: none;
    color: red;
    font-size: 30px;
}
.close{
    display: none;
} */
/* new navbar design end here */

img{
    width: 100%;
}
.slide-area{
    padding: 50px 200px;
}
.bg-green{
    background-color: #0A8E28;
    
}
.nav-link{
    color: #ffffff !important;
}
.navbar-toggler{
    border: 1px solid #ffffff !important;
}
.nav-custom{
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.dropdown-menu-custom{
    background-color: #2df55c;
}
.navbar-custom{
    background-color: #0A8E28;
}
/* Footer section start here */
.content2{
    display: block;
}
.container2-custom{
    margin-left: 250px;
    margin-right: 200px;
}
.fotter-content{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
/* Footer section end here */

/* Image design start here */
.contact-area{
    margin-top: 30px;
}
.contact-main-area{
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 20px;
}
.contact-person-area{
    background:#0A8E28 ;
    width: 300px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.contart-person-main-area{
    
}
.contact-person-images{

}
.contact-person-name{
    padding-left: 20px;
    border-bottom: 2px solid grey;
}
.contact-person-name h1{
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 10px;
}
.massage-send-btn{
    margin-top: 10px;
    padding-left: 20px;
}
.send-msg-btn{
    padding: 5px;
    border: 2px solid rgb(244, 128, 128);
    border-radius: 50px;
    background-color: #1690ed;
    font-size: 18px;
    color: #ffffff;
}
/* Image design end here */

/* marque design start here */
.notice-area1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 40px;
    border: 2px solid #0A8E28;
}
.notice-header1{
    background-color: #0A8E28;
    padding: 5px 15px;
    width: 200px;
}
.notice-header1 span{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
}
.notice-list1{
    background-color: rgb(82, 175, 242);
    color: #ffffff;
}
/* marque design end here */

/* Staff page table start here */
.container-custom{
    margin: 0px 400px;
}
table{
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}
th{
    background-color: #0A8E28;
    border: 2px solid black;
    padding: 8px;
    text-decoration: left;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
}
td{
    background-color: white;
    border: 2px solid black;
    padding: 8px;
    text-decoration: left;
    text-align: left;
    font-size: 17px;
}
.td-details{
    padding: 10px 40px;
    height: 130px;
    width: 170px;
}
/* Staff page table end here */

/* History page start here */
.container-custom{
    margin: 10px 300px;
}
.history-area{
    border: 2px solid red;
    background-color: #ffffff;
    padding: 5px 10px;
}
.history-main-area{

}
.container-custom h1{
    text-align: center;
    font-family: sans-serif;
    padding: 10px 10px;
}
.peragrap{
    font-family: sans-serif;
    
}
/* History page end here */

/* Achivment page start here */
.container-custom{
    margin: 30px 310px;
    font-size: 17px;
}
.achivment-page{
    border: 2px solid green;
    background-color: #ffffff;
    padding: 10px 10px;
    margin-bottom: 80px;
}
.achivment-page h5{
    text-align: center;
}
.header1{
    text-align: center;
    text-decoration: underline;
    padding: 20px 1px;
}
/* Achivment page end here */

/* goverming body page start here */
.td-color{
    background-color: rgb(235, 215, 191);
    text-align: center;
}
/* goverming body page end here */

/* <!-- Chairmen page start here --> */
.row{
    margin-top: 20px;
    margin-bottom: 2px;
}
.image-custom{
    border: 1px solid green;
    height: 230px;
    width: 100%;
}
.content-row{
    margin-top: 90px;
    font-size: 23px;
    width: 100%;
}
.container{
    text-align: justify;
}
.chairmen{
    text-align: center;
    color: red;
}
.row-custom{
    margin-top: 50px;
    border: 1px solid green;
    text-align: justify;
    background-color: #ffffff;
    padding: 30px 15px 65px 45px;
}
.message{
    font-size: 22px;
}
/* <!-- Chairmen page end here --> */

/* Principle page start here */
.row-custom{

}
.principle{

}
.message1{
    align-items: center;
    font-size: 15px;
}
/* Principle page end here */

/* Viceprinciple design page start here */
.content-row{
    font-weight: bolder;
}
.message{
    font-size: 18px;
}
.row-custom1{
    margin-top: 50px;
    border: 1px solid green;
    text-align: justify;
    background-color: #ffffff;
    padding: 30px 0px 65px 45px;
}
/* Viceprinciple design page end here */

/* cordinator page design start here */
.row{

}
.cordinator-details{
    
}
/* cordinator page design start here */

/* Glance page start here */
.container1-custom{
    margin-left: 200px;
    margin-right: 200px;
}
.thead2{
    background-color: yellowgreen;
}
/* Glance page start here */

/* Programe page design start here */
.container-custom{

}
.programe-main-area{
    background-color: rgb(255, 255, 255);
    border: 1px solid green;
}
/* Programe page design end here */

/* Admission design page start here */
p{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
}
h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px; 
}
.programe-details{

}
/* Admission design page start here */