
.bg-custom{
    background-color: rgb(144, 235, 235);
}

/* @media(max-width: 992px){
    .toggle{
        display: block;
    }
    .nav-item{
        display: block;
        margin-top: 10px;
    }
    .navbar-area1{
        position: relative;
    }
    .collapse{
        position: absolute;
        top: 100%;
        right: 0px;
        display: none;
        padding: 0 50px 10px 0px;
        background-color: rgb(100, 230, 124);
    }
} */